<!DOCTYPE html>
<html>
<head>
    <title>Майкл Джордан</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    body {
        background-image: url("{{ url_for('static', filename='images/3MJ.jpg') }}");
        background-size: cover;
        background-position: center;    
        background-repeat: no-repeat;
    }
    </style>
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center" style="color: rgb(0, 217, 255); font-size: 100px;">Майкл Джордан</h1>
    <p style="color: rgb(0, 217, 255); font-size: 30px;">Майкл Джордан — легендарный американский баскетболист.
        Он родился 17 февраля 1963 года в Бруклин, США. Уже в школьные годы проявлял талант к спорту, а в университете Северной Каролины стал одной из главных звёзд студенческого баскетбола.

В 1984 году Джордан был выбран клубом Chicago Bulls, где провёл большую часть своей карьеры. С этой командой он выиграл 6 чемпионатов НБА и 5 раз становился самым ценным игроком лиги (MVP).

Джордан прославился своим стилем игры: мощные данки, точные броски и способность решать исход матчей в самые напряжённые моменты. Его номер 23 стал культовым.

После временного ухода из баскетбола он пробовал себя в бейсболе, но позже вернулся и снова привёл команду к победам. Окончательно завершил карьеру в 2003 году.

Помимо спорта, Джордан стал успешным бизнесменом и лицом бренда Nike, создав знаменитую линейку кроссовок Air Jordan. Он ещё вернется и покажет всем, как нужно играть!</p>
    </p>
    <h4 style="color: rgb(0, 217, 255); font-size: 30px;">Несколько цитат сказаных им:</h4>
    <p style="color: rgb(0, 217, 255); font-size: 30px;">
        «Я промахнулся более 9000 раз за свою карьеру. 26 раз мне доверяли сделать победный бросок, и я промахивался. Я терпел неудачи снова и снова в своей жизни. И именно поэтому я добился успеха». 
    </p>
    <p style="color: rgb(0, 217, 255); font-size: 30px;">
        «Я могу принять неудачу, все в чём-то терпят поражение. Но я не могу принять отсутствие попыток».
    </p>
    <p style="color: rgb(0, 217, 255); font-size: 30px;">
        «Талант выигрывает игры, но командная работа и интеллект выигрывают чемпионаты». 
    </p>
    <p style="color: rgb(0, 217, 255); font-size: 30px;">
        «Препятствия не должны останавливать вас. Если вы столкнётесь со стеной, не поворачивайте и не сдавайтесь. Подумайте, как подняться на неё, пройти через неё или обойти её».
    </p>
    <p style="color: rgb(0, 217, 255); font-size: 30px;">
        «Чтобы быть успешным, вы должны быть эгоистичны, иначе вы ничего не достигнете. А как только вы достигнете своего высшего уровня, вы должны быть бескорыстны». 
    </p>
    <p style="color: rgb(0, 217, 255); font-size: 30px;">
        «Ты должен ожидать от себя большего, прежде чем сможешь этого добиться». 
    </p>
    <p style="color: rgb(0, 217, 255); font-size: 30px;">
        По этим цитатам можно понять на сколько он был крут
    </p>

</div>

</body>
<a href="{{ url_for('krasivoview') }}" class="btn btn-secondary">
    К котику
</a>
<a href="{{ url_for('profile') }}" class="btn btn-primary mt-3">
    Профиль
</a>
</html>